<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KlerksSoft.UsbKeyBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="UsbKeyBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <KlerksSoft.UsbKeyBackup.Properties.Settings>
      <setting name="BackupLocation" serializeAs="String">
        <value>c:\USB_Key_Backups</value>
      </setting>
      <setting name="LocationToBackup" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="Period1Start" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Period1Interval" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Period2Start" serializeAs="String">
        <value>28</value>
      </setting>
      <setting name="Period2Interval" serializeAs="String">
        <value>28</value>
      </setting>
      <setting name="Period3Start" serializeAs="String">
        <value>365</value>
      </setting>
      <setting name="Period3Interval" serializeAs="String">
        <value>365</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>Spanish</value>
      </setting>
      <setting name="OwnerName" serializeAs="String">
        <value />
      </setting>
      <setting name="FinalCutOffDays" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EncryptionPassword" serializeAs="String">
        <value>TestPW7</value>
      </setting>
      <setting name="UseDatabase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EncryptionCheckPhrase" serializeAs="String">
        <value>WeSuckToo</value>
      </setting>
    </KlerksSoft.UsbKeyBackup.Properties.Settings>
  </applicationSettings>
</configuration>
